li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .container{
    clear:both;
    overflow:auto;
  
  }
  
  nav {
    float:left;
  
  }
  
  .logo img{float:left;}
  
  ul li{
    display: inline-block; padding:20px;
    font-size:20px; font-family: 'Roboto Slab', serif;
  }
  
  a:link {
    text-decoration: none;
  
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: #f5bfd7;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

body {
    background-image: url(https://images.pexels.com/photos/355748/pexels-photo-355748.jpeg);
    background-position: 50% 10%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
  }

  .contactheader {
    text-align: center;
    background-color: white;
    font-size: 150%;
    margin-left: 4in;
    margin-right: 4in;
    margin-top: .5in;
    padding: .02px;
    color: #CC4949;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 24px;
    border-radius: 5px;
    border:2px solid #CC6666;
  
  }
  
  form { 
    max-width:420px; margin:50px auto; 
    
  }
  
  .feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border:2px solid #CC6666;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  }
  
  [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  }
  
  [type="submit"]:hover { background:#CC4949; }
  
  .map-container {
    text-align: center;
    margin-bottom: 1in;
  }

  
  .footer-basic {
    padding:10px;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:20%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:1px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  h3 {
    text-align: center;
    background-color: white;
    font-size: 150%;
    margin-left: 4in;
    margin-right: 4in;
    margin-top: .5in;
    padding: .02px;
    color: #CC4949;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 24px;
    border-radius: 5px;
    border:2px solid #CC6666;
  }

.aboutimage {
   text-align: center;
}

.mission {
    background-color: white;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 5px;
    border:2px solid #CC6666;
    opacity: 86%;
}

.iframe {
    text-align: center;
}